<div>
  <div class="card text-center">
    <div card-header>
        <h3>Home Page</h3>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          </ul>
          <a class="navbar-brand btn btn-link" routerLink="signup" *ngIf = "!loggedIn"> Sign Up</a>
          <a class="navbar-brand btn btn-link" routerLink="login" *ngIf = "!loggedIn"> Log In</a>
          <button class="navbar-brand btn btn-link" *ngIf = "loggedIn" (click)="resetData()"> Log Out</button>
        </div>
      </div>
  </nav>
  <router-outlet></router-outlet>
</div>
