<div>
  <h3 class="text-center text-secondary">Portfolio</h3>
  <p>{{welMsg}}</p>
  <form class="px-4 py-3" [formGroup]="contactRef" (ngSubmit)="printTable()">
    <div class="mb-3">
      <label for="name" class="form-label">Contact Name</label>
      <input type="text" class="form-control" id="name" placeholder="Contact Name" formControlName = "contact">
    </div>
    <div class="mb-3">
      <label for="phoneNum" class="form-label">Phone Number</label>
      <input type="number" class="form-control" id="phoneNum" placeholder="Phone Number" onkeydown="return event.keyCode !== 69" formControlName = "num">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
  <hr/>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Phone Number</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let obj of contObj">
        <td>{{obj.cont}}</td>
        <td>{{obj.num}}</td>
      </tr>
    </tbody>
</table>
</div>
